* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 1rem 2rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu-toggle {
    display: none;
  }
  
  #hero {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .btn {
    background: #fff;
    color: #333;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    display: inline-block;
  }
  
  section {
    padding: 2rem;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .project-card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    margin: 10px;
  }
  
  .project-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  input,
  textarea,
  button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .send:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color:darkgrey;
    cursor: pointer;
  
  }
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }